* {
    box-sizing: border-box;
}
body {
    background-color: black;
}
h1 {
    background-color: red;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20;
    text-align: center;
}
nav {
    float: left;
    background-image: linear-gradient(red 20%, black);
    width: 250px;
    font-size: 150%;
    margin-top: 10px;
}
nav a {
    padding: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: color 1s linear;
    border: 2px solid purple;
}
a:hover {
    color: purple;
}
main {
    margin-left: 260px;
    background-color: red;
}
#wrapper {
    width: 80%;
    background-color: purple;
    margin: auto;
    min-width: 800px;
}
